In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
#Ans. 
#A database is a collection of data that is organized in a specific way to allow for efficient storage, retrieval, and management of that data.

#SQL databases, also known as Relational Database Management Systems (RDBMS), are based on the relational model of data, which organizes data into tables with predefined relationships between them. 
#SQL databases use Structured Query Language (SQL) to manipulate and query data, which is a standardized language used to interact with the database

#NoSQL databases, on the other hand, are not based on the relational model of data and do not use SQL for data manipulation and querying. 
#Instead, NoSQL databases use a variety of data models, including document-oriented, key-value, graph, and column-family, among others.

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#Ans.
#DDL stands for Data Definition Language, which is a subset of SQL that is used to define and manipulate the structure of a database. 
#DDL commands are used to create, modify, and delete database objects, such as tables, indexes, views, and stored procedures.

#1. CREATE: The CREATE command is used to create new database objects, such as tables, indexes, and views
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);

#2. DROP: The DROP command is used to delete existing database objects, such as tables, indexes, and views. 
DROP TABLE employees;

#3. ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table, index, or view. 
ALTER TABLE employees ADD COLUMN department VARCHAR(50);

#4. TRUNCATE: The TRUNCATE command is used to delete all data from a table, but does not delete the table structure itself.
TRUNCATE TABLE employees;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
#Ans.
#DML stands for Data Manipulation Language, which is a subset of SQL that is used to manipulate the data in a database. 
#DML commands are used to insert, update, and delete data in a table, and are essential for managing the content of a database.

#1. INSERT: The INSERT command is used to add new rows of data to a table.
INSERT INTO employees (id, name, salary)
VALUES (1001, 'Rohit Pal', 50000);

#2. UPDATE: The UPDATE command is used to modify existing data in a table.
UPDATE employees
SET salary = 60000
WHERE id = 1001;

#3. DELETE: The DELETE command is used to remove rows of data from a table.
DELETE FROM employees
WHERE id = 1001;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
#Ans:
#DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database. DQL commands are used to specify the criteria for selecting data from one or more tables.
#The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables based on specified criteria.
SELECT * FROM employees WHERE department = 'Sales';

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
#Ans.
#a primary key is used to uniquely identify rows in a table, while a foreign key is used to establish relationships between tables and ensure data consistency.

#Primary Key: A primary key is a column or group of columns in a table that uniquely identifies each row. 
#A primary key must be unique and not null, and can be made up of one or more columns.

#Foreign Key: A foreign key is a column or group of columns in one table that refers to the primary key of another table. 
#It is used to establish a relationship between the tables and ensure data consistency.

In [5]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#Ans.
#
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

#cursor(): The cursor() method is used to create a cursor object, which is used to execute SQL commands and retrieve data from a database.

#The execute() method is used to execute a SQL query. 
#It takes a SQL query as its first argument and a tuple of values as its second argument.

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
#Ans.
#In a SQL query, the clauses are executed in the following order:
#1. SELECT: This clause is used to specify the columns to retrieve from one or more tables. It is the first clause executed in a query.
#2. FROM: This clause is used to specify the tables from which to retrieve data. It is executed after the SELECT clause.
#3. WHERE: This clause is used to filter the data based on specified criteria. It is executed after the FROM clause.
#4. GROUP BY: This clause is used to group the results based on specified columns. It is executed after the WHERE clause.
#5. HAVING: This clause is used to filter the groups based on specified criteria. It is executed after the GROUP BY clause.
#6. ORDER BY: This clause is used to sort the results based on specified columns. It is executed after the HAVING clause.