In [29]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#Ans.
import pandas as a

data=[4,8,15,16,23,42]
df=a.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
#Ans.
import pandas as b

lst=[1,2,3,4,5,6,7,8,9,10]
df=b.Series(lst)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
#Q3. Create a Pandas DataFrame that contains the following data:
#Ans.
import pandas as c

data={"Name": ["Alice", "Bob", "Claire"],
      "Age" : [25,30,27],
      "Gender" : ["Female","Male","Female"]
     }
df=c.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#Ans.
#A Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table.
#A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any data type.
#The Pandas Series only contains the values from the 'Age' column, while the Pandas DataFrame contains all the columns and associated data.
import pandas as pd

# create a dictionary of data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

print(df)
print(age_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

In [21]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
#Ans.
#Some common functions that can be used to manipulate data in a Pandas DataFrame include:
#1. head() and tail(): These functions are used to display the first few or last few rows of the DataFrame, respectively. 
#For example, df.head() would display the first 5 rows of the DataFrame df.
#2. drop(): This function is used to remove rows or columns from the DataFrame. 
#For example, df.drop(0) would remove the first row of the DataFrame df.
#3. fillna(): This function is used to fill missing values in the DataFrame with a specified value or method. 
#For example, df.fillna(0) would fill all missing values in the DataFrame df with 0.

a = df.head(2)
b = df.tail(1)
print(a)
print(b)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
     Name  Age  Gender
2  Claire   27  Female

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Ans.
#In pandas, both Series and DataFrame are mutable in nature, meaning that we can modify their contents after they have been created. 
#And Panel is deprecated in the latest version of pandas and replaced with MultiIndex objects, which are also mutable.

In [27]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
#Ans.
#Suppose we have three Pandas Series, name, age, and gender, which contain the following data:
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

#To create a DataFrame using these Series, we can use the pd.DataFrame() function and pass a dictionary where the keys are the column names and the values are the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

#This will create a DataFrame df with three columns named 'Name', 'Age', and 'Gender', and the data from the three Series will be inserted into the respective columns:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female